---
---

@charset "utf-8";

@import "minimal-mistakes";

.sidebar .author__avatar img,
.author__avatar img {
  width: 220px !important;
  height: 220px !important;
  max-width: none !important;
  border-radius: 0 !important;
  object-fit: cover; !important;
  object-position: center top !important;
}
